.main__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__card {
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 2rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-radius: 0.25rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 1.5rem;
}

.main__cardLeft {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px;
    align-items: center;
}

.main__cardRigth {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px;
    align-items: center;
}